body {
    background-color: rgb(245, 217, 198);
  }

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Radius of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(180, 97, 2); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Radius of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(197, 62, 4); /* Color of the scrollbar thumb on hover */
  }
  