@tailwind base;
@tailwind components;
@tailwind utilities;

.text-brown-800 {
    color: #8B4513;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animation-marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
  }